
	<div class="procurement-panel">
		<div class="procurement-panel-header">
			Personal Details of Authorized Signatory (अधिकृत हस्ताक्षरकर्ता ਦੇ ਨਿੱਜੀ ਵੇਰਵੇ)
		</div>

		<div class="row g-3 procurement-grid">
			<div class="col-12 col-md-6 col-lg-3">
				<label class="form-label">Name of Agency (ਏਜੰਸੀ ਦਾ ਨਾਮ)<span class="required-star">*</span></label>
				<select class="form-control procurement-control" [(ngModel)]="formData.agencyName">
					<option *ngFor="let option of agencyOptions" [value]="option">{{ option }}</option>
				</select>
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<label class="form-label">Designation (ਅਹੁਦਾ)<span class="required-star">*</span></label>
				<select class="form-control procurement-control" [(ngModel)]="formData.designation">
					<option *ngFor="let option of designationOptions" [value]="option">{{ option }}</option>
				</select>
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<label class="form-label">Gender (ਲਿੰਗ)<span class="required-star">*</span></label>
				<select class="form-control procurement-control" [(ngModel)]="formData.gender">
					<option *ngFor="let option of genderOptions" [value]="option">{{ option }}</option>
				</select>
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<label class="form-label">Date of Birth (ਜਨਮ ਤਾਰੀਖ)<span class="required-star">*</span></label>
				<input type="date" class="form-control procurement-control uppercase" [(ngModel)]="formData.dob">
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<label class="form-label">First Name (ਪਹਿਲਾ ਨਾਂ)<span class="required-star">*</span></label>
				<input type="text" class="form-control procurement-control" placeholder="Enter Name" [(ngModel)]="formData.firstName">
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<label class="form-label">Last Name (ਆਖਰੀ ਨਾਂ)</label>
				<input type="text" class="form-control procurement-control" placeholder="Enter Last Name" [(ngModel)]="formData.lastName">
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<label class="form-label">Mobile No. (ਮੋਬਾਈਲ ਨੰ)<span class="required-star">*</span></label>
				<input type="tel" maxlength="10" class="form-control procurement-control" placeholder="Enter Mobile Number" [(ngModel)]="formData.mobileNumber">
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<label class="form-label">GST Number (GST ਨੰਬਰ)</label>
				<input type="text" class="form-control procurement-control" placeholder="Enter GST Number" [(ngModel)]="formData.gstNumber">
			</div>
		</div>

		<div class="procurement-actions">
			<button type="button" class="btn border " (click)="onBack()">Back (ਵਾਪਸ)</button>
			<button type="button" class="btn btn-success" (click)="onSubmit()">Submit (ਜਮ੍ਹਾ ਕਰੋ)</button>
		</div>
	</div>
