/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: auto !important;
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f8fafc;
  color: #334155;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
